<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>driverdetails</title>
</head>
<body>
<div class="container-fluid">
    <h3 class="text-dark mb-4">Drivers</h3>
    <div class="card shadow">
        <div class="card-header py-3" style="background: var(--bs-gray-200);">
            <p class="text-primary m-0 fw-bold text-gray-600">Driver List</p>
        </div>
        <div class="card-body">
            <div class="table=responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th id="std_name"Driver Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Mail Id</th>
                            <th>Experience</th>
                            <th>Pan</th>
                             <th>Gender</th>
                        </tr>
                    </thead>
                </table>
                <tbody>
                    <tr>
                        {% for id,first_name,last_name,phone_number,email,experience,pan,gender in records %}
                        <form method="POST" action="/driver_view">
                            {% csrf_token %}
                        <td><input type="hidden" name="p_id" value="{{ id }}"/></td>
                        <td>{{ first_name }}</td>
                        <td>{{ last_name }}</td>
                        <td>{{ phone_number }}</td>
                        <td>{{ email }}</td>
                        <td>{{ experience }}</td>
                        <td>{{ pan }}</td>
                        <td>{{ gender }}</td>
                        <td>

                        </td>
                            <td>
                                <div class="row" style="width: 174px;">
                                    <div class="col d-lg-flex justify-content-lg-center" style="width:30px;">
                                        <button name="status" class="btn btn-success shadow-none"type="submit" value="Admit" style="color: var(--bs-white);">Admit</button>
                                    </div>
                                    <div class="col" style="width: 101px;">
                                        <button name="status1" class="btn btn-danger shadow-none"type="submit" value="Deny">Deny</button>
                                    </div>
                                </div>

                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
               </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>