<!doctype html>
<html lang="en">
  <head>
  	<title>Table 02</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/viewtable/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Table #02</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						
						
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>ID</th>
						      <th>Owner Name</th>
						      <th>Vehicle Type</th>
						      <th>Vehicle Name</th>
							  <th>View Details</th>
								
						    </tr>
						  </thead>
						  <tbody>
						     <tr>
                        {% for id,ownername,vehicle_type,vehicle_name in records %}
                        <form method="POST" action="/userbookcab">
                            {% csrf_token %}
                        <td>{{ id }}</td><input type="hidden" name="cabsid" value=" {{ id }}">
                        <td>{{ ownername }}</td>
                        <td>{{ vehicle_type }}</td>
                        <td>{{ vehicle_name }}</td>
						<td> <input type="submit" value="Details"> </td>  </form>
						

                    </tr>
                    {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/viewtable/js/jquery.min.js"></script>
  <script src="static/viewtable/js/popper.js"></script>
  <script src="static/viewtable/js/bootstrap.min.js"></script>
  <script src="static/viewtable/js/main.js"></script>

	</body>
</html>

